body {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #ffffff;
    font-weight: 300; }

.props {
    display: flex;
    flex-direction: column;
    padding: 7.5% 7.5%;
    overflow: hidden;
    position: relative;
}